.shape{
    height: 100px;
    width: 250px;
    background-color: black;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: black;
}
.square{
    width: 200px;
    height: 200px;
    background-color: black;
}
.buttons{
    position: absolute;
    margin-left: 275px;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.rectangle{
    height: 250px;
    width: 100px;
    background-color: black;
}